.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
}

.content{
    display: flex;
    justify-content: center;
}

.node{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

.node__key{
    color: white;
    width: 100px;
    height: 100px;
    display: block;
}

.node__key--red{
    background-color: red;
}

.node__key--black{
    background-color: black;
}

.node__children{
    display: flex;
    align-content: space-between;
    align-items: flex-start;
}

.node__children__left, .node__children__right{
    width: 300px;
    align-self: flex-start;
}